<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nodejs and passport app</title>
    <link rel="stylesheet" href="/css/awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <%- body %>
    </div>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/bootstrap.min1.js"></script>
</body>
</html>